@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;   
    min-height: 1000px; 
    margin: 50px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container .left-side {
    position: relative;
    background:rgb(9, 9, 56);
    padding: 40px;
}



.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}


.profileText .imgBox img {
    position: relative;
    width: 200px;
    height: 200px;
}

.profileText h2 {
    color: white;
    font-size: 23px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 14px;
    font-weight: 400;
}

.title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.contactInfo {
    padding-top: 40px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    font-size: 13px;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(4, 109, 145)
}

.contactInfo ul li span {
    color: white;
    font-weight: 400;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: rgb(4, 109, 145);
    font-weight: 600;
}

.contactInfo.education h4 {
    color: white;
    font-weight: 500;
}

.contactInfo.education h6 {
    font-size: 12px;
    color: white;
    font-weight: 300;
}


.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(44, 40, 40);
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(4, 109, 145);
}



.container .right-side {
    position: relative;
    background: white;
    padding: 40px;
}

.about {
    margin-bottom: 50px;

}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: rgb(9, 9, 56);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .your-company {
    min-width: 150px;
}

.about .box .your-company h5 {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}

.about .box .text {
    color: rgb(4, 109, 145);
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #333;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;  
    height: 10px;
    background: rgb(235, 222, 222);
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(4, 109, 145);
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: rgb(4, 109, 145);
    font-size: 18px;
    width: 20px;
    margin: 0 10px;
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul {
        grid-template-columns: repeat(2,1fr);
    }
    .contactInfo ul li {
        
        font-size: 13px;
    }
   
}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .your-company {
        margin-bottom: 5px;
    }
    .interest ul {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box {
        grid-template-columns: repeat(1,1fr);
    }
    .contactInfo ul li {
        font-size: 12px;
    }
    p {
        font-size: 15px;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logos img {
    margin: 20px;
    width: 120px;
    height: 50px;
}


